<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchoolApp.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</head>
<body class="backgroundimage">
    <div class="mb-5">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <div id="MyModal" class="modal fade text-container" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div id="ModalHeader"></div>
                    <button type="button" id="ModalClose" class="close btn btn-danger float-end" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="ModalBody">
                </div>
                <div class="modal-footer">
                    <button id="ModalCancel" class="btn btn-primary float-end">Close</button>
                </div>
            </div>

        </div>
    </div>

</body>
</html>