@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <div class="container">
        <div class="card" style="width:100%">
            <div class="row mb-4 mt-5" style="width:100%">
                <div class="col-6">
                    <img src="~/images/children-sharing-and-playing-with-toys.jpg" style="height: 420px" class="ms-5"/>
                </div>
                <div class="col-6">
                    <p class="ms-5" align="justify">
                        Suspendisse odio justo, tempus nec sagittis at, congue ac mauris. Fusce arcu tortor, imperdiet egestas neque sit amet, maximus pellentesque tellus.Nunc dui sem, tincidunt sit amet mollis eu, semper sed enim. Integer tincidunt ex dignissim nisl sagittis dignissim.Vivamus malesuada massa eget sapien pharetra dapibus.Praesent neque tellus, vestibulum in risus id, posuere posuere eros.Fusce nec purus sed lacus vestibulum ullamcorper quis eu ante. Sed id purus semper, scelerisque lacus ac, lobortis risus.Ut sed mattis nunc, ut fermentum massa. Nulla mattis orci tellus,condimentum suscipit libero interdum non. Duis sollicitudin, dolor et maximus blandit, ligula lacus venenatis velit,eget rutrum odio mi ut magna. Sed molestie tincidunt varius. Maecenas tempor sollicitudin metus. Proin semper pretium sapien.
                    </p>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="row mb-4 mt-5">
                <div class="col-6">
                    <p class="ms-5" align="justify">
                            Suspendisse odio justo, tempus nec sagittis at, congue ac mauris.Fusce arcu tortor, imperdiet egestas neque sit amet, maximus pellentesque tellus.Nunc dui sem, tincidunt sit amet mollis eu, semper sed enim.Integer tincidunt ex dignissim nisl sagittis dignissim.Vivamus malesuada massa eget sapien pharetra dapibus.Praesent neque tellus, vestibulum in risus id, posuere posuere eros.Fusce nec purus sed lacus vestibulum ullamcorper quis eu ante. Sed id purus semper, scelerisque lacus ac, lobortis risus.Ut sed mattis nunc, ut fermentum massa. Nulla mattis orci tellus,condimentum suscipit libero interdum non. Duis sollicitudin, dolor et maximus blandit, ligula lacus venenatis velit,eget rutrum odio mi ut magna. Sed molestie tincidunt varius. Maecenas tempor sollicitudin metus. Proin semper pretium sapien.
                    </p>
                </div>
                <div class="col-6">
                    <img src="~/images/children-sharing-and-playing-with-toys.jpg" style="height: 420px" class="me-5" />
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row mb-4 mt-5" style="width:100%">
                <div class="col-6">
                    <img src="~/images/children-sharing-and-playing-with-toys.jpg" style="height: 420px" class="ms-5" />
                </div>
                <div class="col-6">
                    <p class="ms-5" align="justify">
                        Suspendisse odio justo, tempus nec sagittis at, congue ac mauris. Fusce arcu tortor, imperdiet egestas neque sit amet, maximus pellentesque tellus.Nunc dui sem, tincidunt sit amet mollis eu, semper sed enim. Integer tincidunt ex dignissim nisl sagittis dignissim.Vivamus malesuada massa eget sapien pharetra dapibus.Praesent neque tellus, vestibulum in risus id, posuere posuere eros.Fusce nec purus sed lacus vestibulum ullamcorper quis eu ante. Sed id purus semper, scelerisque lacus ac, lobortis risus.Ut sed mattis nunc, ut fermentum massa. Nulla mattis orci tellus,condimentum suscipit libero interdum non. Duis sollicitudin, dolor et maximus blandit, ligula lacus venenatis velit,eget rutrum odio mi ut magna. Sed molestie tincidunt varius. Maecenas tempor sollicitudin metus. Proin semper pretium sapien.
                    </p>
                </div>
            </div>
        </div>
    </div>

