@{
    ViewData["Title"] = "AttendancePageView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <div class="container bg-light">
        <div class="row">
        <h4 class="text-dark text-center mt-4 fw-bold">STUDENT ATTENDANCE</h4>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Class</label>
            <select class="form-select mb-4" id="ClassIds" onchange="GetSectionNames();"></select>
            <div class="mb-3">
                <label class="text-dark" id="LabelSectionName">Section Name :</label>
                <form id="SectionName" class="d-flex BGCol rounded-2" action="/action_page.php"></form>
            </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Date</label>
            <input type="date" class="form-control" id="OnDate" placeholder="Date" />
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12"></div>
        </div>
    </div>
    <div class="container bg-light">
    <div class="row mt-5">
        <table class="table table-striped table-hover table-small-font table-tighten table-bordered" id="example">
            <thead>
                <tr id="tableheader">
                    <th class="align-middle border text-center text-dark" style="border: hidden;">Sr.</th>
                    <th class="align-middle border text-center text-dark" style="border: hidden;">Roll No.</th>
                    <th class="align-middle border text-center text-dark" style="border: hidden;">Student</th>
                    <th class="align-middle border text-center text-dark" style="border: hidden;">Attendance</th>
                </tr>
            </thead>
            <tbody id="tbody" class="border">
            </tbody>
        </table>
    </div>
    <div class="row mt-5">
        <div class="float-end">
            <button class="btn btn-warning" id="AddAttendace" onclick="AddAttendance();">ADD Attendance</button>
        </div>
    </div>
    </div>

    <script>
        var token = localStorage.getItem('token');

        $(document).ready(function(){
        $('#example').show();
        $('#LabelSectionName').hide();
        $('#AddAttendace').hide();
        GetClassNames();
        })

    function GetClassNames() {
        $.ajax({
            headers: {
                Authorization: 'Bearer ' + token
            },
            url: '/Admin/GetClassSectionsData',
            type: 'Get',
            success: function (response) {
                var html = "";
                var sect = "";
                var clas = response.class;
                var section = response.sections;
                html += '<option style="font-family: initial;" class="border border-bottom" value="0">Select Class</option>';

                for (var i = 0; i < clas.length; i++) {
                    html += '<option style="font-family: initial;" class="border border-bottom" value="' + clas[i].id + '">' + clas[i].name + '</option>';
                }
                $('#ClassIds').append(html);
            }
        })
    }

    function GetSectionNames() {
        $('#LabelSectionName').show();
        var ClassId = $('#ClassIds').val();
        $.ajax({
            url: '/Admin/GetSectionNames?ClassId=' + ClassId,
            success: function (response) {
                var html = "";
                $('#SectionName').empty();
                for (var i = 0; i < response.length; i++) {
                    html += '<div class="ms-2">';
                    html += '<input type="radio" id="' + response[i].id + '" name="fav_language" value="' + response[i].name + '" class="radiosectionname ms-5" onclick="ResultFilter()">';
                    html += '<label class="h6 ms-3 text-white" for="css"> ' + response[i].name + ' </label><br>';
                    html += '</div>';
                }
                $('#SectionName').append(html);

            },
            error: function (data) {
                $('#ModalHeader').append('<h4>Error</h4>');
                $('#ModalBody').append('<p>Wrong Input</p>');
                $('#MyModal').modal('show');
            }
        })
    }

    function ResultFilter() {
        debugger
        var ClassId = $('#ClassIds').val();
        var Sections = $('.radiosectionname');
        var Year = "";
        var inputdate = $('#OnDate').val();
        var AttendDate = new Date(inputdate).getMonth() + 1;
        var SectionName = "";
        for (var i = 0; i < Sections.length; i++) {
            if (Sections[i].checked == true) {
                SectionName = Sections[i].value;
            }
        }
        var searchStdAttendanceDTO = new FormData();
        searchStdAttendanceDTO.append('SectionName', SectionName);
        searchStdAttendanceDTO.append('ClassId', ClassId);
        searchStdAttendanceDTO.append('AttendDate', inputdate);

        if (yearRange(inputdate)) {
            Year = new Date(inputdate).getFullYear();
        }
        if (Year == "" || Year == null) {
            $('#ModalHeader').append('<h4>Error</h4>');
            $('#ModalBody').append('<p>Please Add Valid Year</p>');
            $('#MyModal').modal('show');
        } else {
            searchStdAttendanceDTO.append('Year', Year);
            $.ajax({
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                url: '/Home/GetStudentsAttendancebybatch',
                data: searchStdAttendanceDTO,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#tbody').empty();
                    var html = "";
                    var x = 1;
                    for (var i = 0; i < response.length; i++) {
                        var xx = x++;
                        html += '<tr id="Serialkey' + response[i].id + '" class="AttendanceRow">';
                        html += '<td class=" align-middle text-center text-dark" style="border: hidden;">' + xx + ' </td>';
                        html += '<td class=" align-middle text-center text-dark" style="border: hidden;">' + response[i].id + ' </td>';
                        html += '<td class=" align-middle text-center text-dark" style="border: hidden;">' + response[i].name + ' </td>';
                        html += '<td class=" align-middle text-center text-dark" style="border: hidden;">';
                        html += '<form id="SectionName" class="bg-gray" class="d-flex bg-white rounded-2" action="/action_page.php">';
                        html += '<input type="radio" name = "fav_language" id = "' + response[i].id + '" value="P" class="radiosectionname ms-5">';
                        html += '<label class="h6 ms-3 text-dark" for= "css">P</label>';
                        html += '<input type="radio" name = "fav_language" id = "' + response[i].id + '" value="A" class="radiosectionname ms-5">';
                        html += '<label class="h6 ms-3 text-dark" for= "css">A</label>';
                        html += '<input type="radio" name = "fav_language" id = "' + response[i].id + '" value="H-Day" class="radiosectionname ms-5">';
                        html += '<label class="h6 ms-3 text-dark" for= "css">H/Day</label></form></td>';
                        html += '</tr>';
                    }
                    $('#tbody').append(html);
                    $('#example').show();
                    $('#AddAttendace').show();

                },
                error: function (data) {
                    $('#ModalHeader').append('<h4>Error</h4>');
                    $('#ModalBody').append('<p>Wrong Input</p>');
                    $('#MyModal').modal('show');
                }
            })
        }
    }

    function yearRange(inputdate) {
        let inputdate1 = new Date(inputdate);
        let nowdate = new Date();
        let startingDate = new Date("2010-01-01");
        if (nowdate >= inputdate1 && inputdate1 >= startingDate) return true;
        return false;
    }

    function AddAttendance(){
        debugger
        var InputDate = $('#OnDate').val();
        var data = $('.AttendanceRow');
        var da = '';
        var daq = '';
        var Studentid = [];
        var AttendanceStatus = [];
        for(var i =0; i <data.length; i++){
             da = data[i].cells;
             $.each(da, function(key,item){
                 if(key == 3){
                    daq = item.childNodes;
                    $.each(daq,function(key,itemss){
                        for(var g = 0; g < itemss.length; g++){
                            if(itemss[g].checked == true){
                                AttendanceStatus.push(itemss[g].value);
                               return Studentid.push(itemss[g].id);
                            }
                            if(g == 2){
                                if (itemss[g].checked == false) {
                                    AttendanceStatus.push('P');
                                    Studentid.push(itemss[g].id);
                                }
                            }
                        }
                    })
                 }
             })
        }

        var addAttendance = new FormData();
        addAttendance.append('Studentid', Studentid);
        addAttendance.append('AttendanceStatus',AttendanceStatus);
        addAttendance.append('ForDate', InputDate);
        debugger
        $.ajax({
            headers: {
                'Authorization': 'Bearer ' + token
            },
            url: '/Home/AddAttendance',
            type: 'POST',
            data: addAttendance,
            processData: false,
            contentType: false,
            success: function (response) {
                $('#ModalHeader').append('<h4>Success</h4>');
                $('#ModalBody').append('<p>Operation Completed Successfully.</p>');
                $('#MyModal').modal('show');
            },
            error: function (data) {
                $('#ModalHeader').append('<h4>Error</h4>');
                $('#ModalBody').append('<p>Wrong Input</p>');
                $('#MyModal').modal('show');
            }
        })
    }
    </script>
    <style>

        .BGCol{
        background-color: #00394F;
        }
    </style>