@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

<div class="mb-5">
    <div id="demo" class="carousel slide" data-bs-ride="carousel" style="object-fit: cover">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div>
                    <img src="~/images/children-sharing-and-playing-with-toys.jpg" class="d-block" style="height: 700px ; width: 1600px" />
                </div>
                <div class="carousel-caption">
                    <h3>Los Angeles</h3>
                    <p>We had such a great time in LA!</p>
                </div>
            </div>
            <div class="carousel-item">
                <div>
                    <img src="~/images/row-of-young-adults-at-work.jpg" class="d-block" style="height: 700px ; width: 1600px" />
                </div>
                <div class="carousel-caption">
                    <h3>Los Angeles</h3>
                    <p>We had such a great time in LA!</p>
                </div>
            </div>
            <div class="carousel-item">
                <div>
                    <img src="~/images/wrtiting-tools.jpg" class="d-block" style="height: 700px ; width: 1600px" />
                </div>
                <div class="carousel-caption">
                    <h3>Los Angeles</h3>
                    <p>We had such a great time in LA!</p>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark"></span>
        </button>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="container pb-3">
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4"
                     style="padding: 30px">
                    <i class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Play Ground</h4>
                        <p class="m-0">
                            Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                            lorem amet elitr vero...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4"
                     style="padding: 30px">
                    <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Music and Dance</h4>
                        <p class="m-0">
                            Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                            lorem amet elitr vero...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4"
                     style="padding: 30px">
                    <i class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Arts and Crafts</h4>
                        <p class="m-0">
                            Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                            lorem amet elitr vero...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4"
                     style="padding: 30px">
                    <i class="flaticon-017-toy-car h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Safe Transportation</h4>
                        <p class="m-0">
                            Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                            lorem amet elitr vero...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4"
                     style="padding: 30px">
                    <i class="flaticon-025-sandwich h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Healthy food</h4>
                        <p class="m-0">
                            Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                            lorem amet elitr vero...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4"
                     style="padding: 30px">
                    <i class="flaticon-047-backpack h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>Educational Tour</h4>
                        <p class="m-0">
                            Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                            lorem amet elitr vero...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img src="~/images/about-1.jpg" class="img-fluid rounded mb-5 mb-lg-0" alt="" />

            </div>
            <div class="col-lg-7">
                <p class="section-title pr-5">
                    <span class="pr-2">Learn About Us</span>
                </p>
                <h1 class="mb-4">Best School For Your Kids</h1>
                <p>
                    Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo
                    dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo.
                    Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
                    dolor
                </p>
                <div class="row pt-2 pb-4">
                    <div class="col-6 col-md-4">
                        <img src="~/images/about-2.jpg" class="img-fluid rounded" alt="" />
                    </div>
                    <div class="col-6 col-md-8">
                        <ul class="list-inline m-0">
                            <li class="py-2 border-top border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>Labore eos amet
                                dolor amet diam
                            </li>
                            <li class="py-2 border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>Etsea et sit
                                dolor amet ipsum
                            </li>
                            <li class="py-2 border-bottom">
                                <i class="fa fa-check text-primary mr-3"></i>Diam dolor diam
                                elitripsum vero.
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="" class="btn btn-primary mt-2 py-2 px-4">Learn More</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <p class="section-title pr-5">
                    <span class="pr-2">Book A Seat</span>
                </p>
                <h1 class="mb-4">Book A Seat For Your Kid</h1>
                <p>
                    Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo
                    dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo.
                    Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
                    dolor
                </p>
                <ul class="list-inline m-0">
                    <li class="py-2">
                        <i class="fa fa-check text-success mr-3"></i>Labore eos amet
                        dolor amet diam
                    </li>
                    <li class="py-2">
                        <i class="fa fa-check text-success mr-3"></i>Etsea et sit dolor
                        amet ipsum
                    </li>
                    <li class="py-2">
                        <i class="fa fa-check text-success mr-3"></i>Diam dolor diam
                        elitripsum vero.
                    </li>
                </ul>
                <a href="" class="btn btn-primary mt-4 py-2 px-4">Book Now</a>
            </div>
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-secondary text-center p-4">
                        <h1 class="text-white m-0">Book A Seat</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-5">
                        <form>
                            <div class="form-group">
                                <input type="text"
                                       class="form-control border-0 p-4"
                                       placeholder="Your Name"
                                       required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email"
                                       class="form-control border-0 p-4"
                                       placeholder="Your Email"
                                       required="required" />
                            </div>
                            <div class="form-group">
                                <select class="custom-select border-0 px-4"
                                        style="height: 47px">
                                    <option selected>Select A Class</option>
                                    <option value="1">Class 1</option>
                                    <option value="2">Class 1</option>
                                    <option value="3">Class 1</option>
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-secondary btn-block border-0 py-3"
                                        type="submit">
                                    Book Now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container p-0">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">Testimonial</span>
            </p>
            <h1 class="mb-4">What Parents Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr
                    eirmod clita lorem. Dolor tempor ipsum clita
                </div>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle"
                         src="img/testimonial-1.jpg"
                         style="width: 70px; height: 70px"
                         alt="Image" />
                    <div class="pl-3">
                        <h5>Parent Name</h5>
                        <i>Profession</i>
                    </div>
                </div>
            </div>
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr
                    eirmod clita lorem. Dolor tempor ipsum clita
                </div>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle"
                         src="img/testimonial-2.jpg"
                         style="width: 70px; height: 70px"
                         alt="Image" />
                    <div class="pl-3">
                        <h5>Parent Name</h5>
                        <i>Profession</i>
                    </div>
                </div>
            </div>
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr
                    eirmod clita lorem. Dolor tempor ipsum clita
                </div>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle"
                         src="img/testimonial-3.jpg"
                         style="width: 70px; height: 70px"
                         alt="Image" />
                    <div class="pl-3">
                        <h5>Parent Name</h5>
                        <i>Profession</i>
                    </div>
                </div>
            </div>
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr
                    eirmod clita lorem. Dolor tempor ipsum clita
                </div>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle"
                         src="img/testimonial-4.jpg"
                         style="width: 70px; height: 70px"
                         alt="Image" />
                    <div class="pl-3">
                        <h5>Parent Name</h5>
                        <i>Profession</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#" class="btn btn-primary p-3 back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
