@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_LayOutNoBar.cshtml";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-12 mt-5 d-flex justify-content-center">
                    <form class="w-50 border p-5 bg-light" style="margin:10%">
                        <a href="/Home/Index"><i class='fas fa-arrow-left' style='font-size:24px ; position:absolute'></i></a>
                        <h1 class="text-center">Log In </h1>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="txtemail" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="txtpassword" placeholder="Password">

                            <input type="checkbox" id="Checkbox" class="field__toggle-input" onclick="ShowPassword();" />
                            Show password
                        </div>
                        <button type="button" id="btnSignIn" onclick="SignIn()" class="btn btn-primary btn-lg btn-block" style="margin:13px">SignIn</button>
                        <button type="button" id="btnregister" class="btn btn-secondary btn-lg btn-block ">SignUp</button>
                        <p class="mb-0">
                            <a href="#" id="ForgetPassword">Forget Password</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>

    $(document).ready(function(){
        $('#MyModal').modal('hide');
    })

    function ShowPassword(event){
        var TextBox = document.getElementById('txtpassword');
        if (TextBox.type == 'password') {
            TextBox.type = 'text';
        }
        else{
            TextBox.type = 'password';
        }
    }

    function SignIn(){
        var Email = $('#txtemail').val();
        var Password = $('#txtpassword').val();
        var regexEmail = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        $('#ModalHeader').empty();
        $('#ModalBody').empty();
        if (Email == "") {
            $('#ModalHeader').append('<h5>Error</h5>');
            $('#ModalBody').append('<h5>Email is required.</h5>');
            $('#MyModal').modal('show');
            return false;
        }
        if (Password == "") {
            $('#ModalHeader').append('<h5>Error</h5>');
            $('#ModalBody').append('<h5>PostCode is required.</h5>');
            $('#MyModal').modal('show');
            return false;
        }

        if (!regexEmail.test(Email)) 
        {
            $('#ModalHeader').append('<h5>Error</h5>');
            $('#ModalBody').append('<h5>Please provide a valid Email.</h5>');
            $('#MyModal').modal('show');
            return false;
        }
        $.ajax({
            url: '/User/LogIn',
            type: 'POST',
            data: {Email,Password},
            success: function(response){

                localStorage.setItem('token', response.token);
                localStorage.setItem('UserId', response.id);
                localStorage.setItem('RoleId', response.roleId);
                localStorage.setItem('UserName', response.userName);
                localStorage.setItem('RoleName', response.roleName);
                window.location.href='/Home/Index';
            },
            error: function(data){
                debugger
                $('#ModalHeader').append('<h5>Error</h5>');
                $('#ModalBody').append('<h5>Error While Performing Operation.</h5>');
                $('#MyModal').modal('show');
            }
        })

        $('#ModalCancel').click(function(){
            $('#ModalHeader').empty();
            $('#ModalBody').empty();
            $('#MyModal').modal('hide');
        })

        $('#ModalClose').click(function(){
            $('#ModalHeader').empty();
            $('#ModalBody').empty();
            $('#MyModal').modal('hide');
        })
    }
</script>                 