@{
    ViewData["Title"] = "SecondaryEducation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }



<script src="~/angularjs/aboutus/secondary.js"></script>

<div ng-app="app" ng-controller="SecondaryController" ng-init="OnLoad()">
    <div ng-controller="SecondaryController">
        <div ng-init="OnLoad()">
            <div>
                <h4 class="MainTextColor position-absolute fa-2x mt-5 ms-5">SECONDARY ACADEMICS</h4>
                <a href="#" ng-dblclick="ChangeImage('ShowImage')"><img src="{{MainImage}}" class="img" /></a>
                <div class="text-center">
                    <div class="gallery-uploader-wrap" ng-show="ShowImage" width="5" height="5" id="ShowImage">
                        <label class="uploader-img1">
                            <input type="file" multiple="multiple" name="multiple" hidden="hidden" id="multipleShowImage" ng-model="MissionImage1" ng-change="ShowNewImage(this);">
                            <svg xmlns="savedimages" fill="#999" width="32" height="32" viewBox="0 0 24 24">
                                <circle cx="12" cy="12" r="3"></circle>
                                <path d="M16.83 4L15 2H9L7.17 4H2v16h20V4h-5.17zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"></path>
                            </svg>
                        </label>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row bg-light">
                    <p class="text-center fw-bold lh-lg" id="SecondaryHeading1" ng-dblclick="ChangeData('SecondaryHeading1')">{{SecondaryHeading}} </p>
                    <p class="lh-lg fontcolrwhite p-2" id="SecondaryHeadingText1" ng-dblclick="ChangeData('SecondaryHeadingText1')">{{SecondaryHeadingText}}</p>
                </div>

                <div class="row mt-4" ng-repeat="Secondary in SecondaryData">
                    <div class="col-lg-6 col-md-6 col-sm-12 bg-light">
                        <h1 id="DataId" hidden="hidden" >{{Secondary.id}}</h1>
                        <p class="fontcolrwhite lh-lg p-3" id="SecondaryText" ng-dblclick="ChangeData('SecondaryText')">
                            {{Secondary.text}}
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <a href="#" ng-dblclick="ChangeImage('ShowImage1')"><img src="{{Secondary.secondaryImage}}" class="img mt-4"/></a>
                        <div class="text-center">
                            <div class="gallery-uploader-wrap" ng-show="ShowImage1" width="5" height="5" id="ShowImage1">
                                <label class="uploader-img1 mt-5">
                                    <input type="file" multiple="multiple" name="multiple" hidden="hidden" id="multipleShowImage1" ng-model="MissionImage1" ng-change="ShowNewImage(this);">
                                    <svg xmlns="savedimages" fill="#999" width="32" height="32" viewBox="0 0 24 24">
                                        <circle cx="12" cy="12" r="3"></circle>
                                        <path d="M16.83 4L15 2H9L7.17 4H2v16h20V4h-5.17zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"></path>
                                    </svg>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-4">
                    <div class="col-lg-4 col-md-6 col-sm-12"></div>
                    <div class="col-lg-4 col-md-6 col-sm-12"></div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <button class="btn btn-outline-success float-end" id="UpdateVisionMission" ng-show="ShowUpdateButton" ng-click="UpdateSecondary()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .img {
        height: 500px;
        width: 100%;
        margin-bottom: 3%;
    }

    .nextimg {
        width: 60%
    }

    .fontcolrwhite {
        color: black;
        font-family: system-ui;
        text-align: justify;
    }

    .MainTextColor {
        color: white;
        font-weight: bold;
    }

    .uploader-img1 {
        position: relative;
        display: inline-flex;
        width: 50px;
        height: 50px;
        margin-right: 5px;
        margin-bottom: 5px;
        vertical-align: middle;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 0.35rem;
        border: 1px dashed #ccd1d6;
        overflow: hidden;
        background-color: #f8f9fa;
    }
</style>   